<div class="row">
  <div class="col-6 text-white">
    <span class="copyleft">&copy;</span> Aroop "FinlayDaG33k" Roelofs - 2018-2019<br />
    9AnimeDl is not built by, maintained by or sponsored by 9Anime and/or it's affiliates.<br />
    This software is licensed under the GNU GPLv2 license.
  </div>
</div>
<div class="row my-4">
  <div class="col-6 text-white">
    Version {{ appVersion }}
  </div>
</div>