<div class="modal show" id="wafModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Please verify you are humanoid creature</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <re-captcha (resolved)="onResolve($event)" siteKey="{{ siteKey }}"></re-captcha>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <span class="text-muted">This check is mandatory and <b>cannot</b> be worked around by the 9AnimeDl developers</span>
      </div>
    </div>
  </div>
</div>