<div class="row">
  <app-anime-card *ngFor="let serie of series" class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-2" [serie]="serie"></app-anime-card>
</div>


<div *ngIf="!series.length && !appComponent.isBusy">
    <app-no-results></app-no-results>
  </div>